OPENAI_BASE_URL=http://192.168.68.69:8080/v1
OPENAI_MODEL=MiniMax-M2.7
OPENAI_API_KEY=not-needed
CHARACTER_BASE_URL=http://192.168.68.69:8080/v1
CHARACTER_MODEL=MiniMax-M2.7
CHARACTER_PROVIDER=openai
NEWTOWN_HOME=C:/Users/akaik/.newtown
LAIN_INTERLINK_TOKEN=newtown-interlink
LAIN_OWNER_TOKEN=newtown
ENABLE_RESEARCH=0
CHROMA_MIRROR_ENABLED=1
CHROMA_BASE_URL=http://192.168.68.69:8001
CHROMA_TENANT=default_tenant
CHROMA_DATABASE=default_database
CHROMA_COLLECTION_PREFIX=newtown-memory
CHROMA_TIMEOUT_MS=4000
