[Unit]
Description=Laintown - All Services
Wants=lain-wired.service lain-main.service lain-telegram.service lain-gateway.service lain-voice.service lain-dr-claude.service lain-pkd.service lain-mckenna.service lain-john.service lain-hiru.service

[Install]
WantedBy=multi-user.target
